{% load i18n %} 
 
<h2>{% trans "Progress Summary" %}</h2> 
 
<table style="border: 1px solid black; width:100%; border-collapse : collapse"> 
    <tbody> 
    <th style="border: 1px solid black; min-width : 50px"> 
    {% for exercise in exercises %} 
        <td style="border: 1px solid black; padding: 8px">{{ exercise.name }}</td>           
    {% endfor %} 
    </th> 
         
        {% for userVal in user_exerciseLst %} 
            <tr style="border: 1px solid black; width: 100px"> 
            <td style="border: 1px solid black; padding: 8px">{{ userVal.name }}</td> 
 	      

 	           {% for userExecVal in userVal.userExecs %}
		              	{% if userExecVal.prof == -1 %}
 					<td style="border: 1px solid black; background-color:red"></td> {% endif %}
   
 		                   {% if userExecVal.prof == 1 %} 
 						
					<td style="border: 1px solid black; background-color:green"> 
                	        	</td>
              				  {% endif %}
				{% if userExecVal.prof == 0 %}
					<td style="border: 1px solid black; background-color:grey"></td>
				{% endif %}
   
				
            {% endfor %} 
            </tr> 
        {% endfor %} 
     
    </tbody> 
</table>
