<html>
<head>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}Fixed-Header-Table/jquery.fixedheadertable.js"></script>
<link href="{{ STATIC_URL }}Fixed-Header-Table/css/defaultTheme.css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}Fixed-Header-Table/css/960.css" rel="stylesheet" media="screen" />
<link href="{{ STATIC_URL }}Fixed-Header-Table/css/myTheme.css" rel="stylesheet" media="screen" />
<script>
            $(document).ready(function() {
                $('#myTable').fixedHeaderTable({ footer: true, fixedColumns: 2 }); 
            });
            
        </script>
<title>OpenDSA Exercise Summary</title>
</head>

<body>
<h2>Exercise Summary</h2> 
<div class="container">
        	<div class="grid">
        		<table class="exerciseTable" id="myTable" cellpadding="0" cellspacing="0">
        		    <thead>
        		        <tr>
                           <th>Username</th>
                           <th>Score</th>
        		           {% for exercise in exercises %} 
                           <th>{{ exercise.name }}</th>
                           {% endfor %} 
        		        </tr>
        		    </thead>
        		    <tfoot>
        		        <tr>
        		          <th>Username</th>
                          <th>Score</th>
        		          {% for exercise in exercises %} 
                          <th>{{ exercise.name }}</th>
                          {% endfor %} 
        		        </tr>
        		    </tfoot>
        		    <tbody>
        		        {% for userVal in user_exerciseLst %} 
                        <tr> 
                            <td>{{ userVal.name }}</td>
                            {% for userD in userData %}
                                {% if userD.user == userVal.name %}
                                <td>{{ userD.points }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for userExecVal in userVal.userExecs %}
                                {% if userExecVal.prof == -1 %}
                                <td id="inproficient"></td> 
                                {% endif %}
                                {% if userExecVal.prof == 1 %} 
                                <td id="proficient"></td>
                                {% endif %}
                                {% if userExecVal.prof == 0 %}
                                <td id="none"></td>
                                {% endif %}  
                            {% endfor %}   
                        </tr> 
                        {% endfor %} 
        		    </tbody>
        		</table>
        	</div>
        	<div class="clear"></div>
        </div>
</body>

</html>