{% extends "odsa_base.html" %}

  {% block maintitle %}
   <h1>OpenDSA Statistics Widget</h1>
  {% endblock %}
   {% block content %}
    <div id="data">
       <h3>{{ exercises }} Exercises performed.</h3>
       <h3>{{ users }} Registered users.</h3>  
    </div>
    <hr>
    Copy the code below in your webpage to embed OpenDSA 
    statistics widget.
    <p></p>
    <div id="code">
    <textarea style="resize: none;width: auto;" id="codearea" wrap="hard" cols="100" rows="3">
     <div id="widget-container"></div>
     <script type="text/javascript" src="https://opendsa.cc.vt.edu/media/widget.js"></script>
    </textarea>
    </div>
  {% endblock %}

