<html>
<head>
  <title>Exercise Details</title>
  <script>
    {% include "./developer_view/dist/jquery.min.js" %}
    {% include "./developer_view/dist/jquery.jqplot.min.js" %}
    {% include "./developer_view/dist/plugins/jqplot.canvasTextRenderer.min.js" %}
    {% include "./developer_view/dist/plugins/jqplot.canvasAxisLabelRenderer.min.js" %}
  </script>
</head>
<body>

Exercise Name: {{exercise.name}}<br />
proficient date: {{proficient_date}}<br />
review dates:
<table>
  <tbody>
  <th>
    {% for review_date in review_dates %}
      <tr>
        <td>{{ review_date }}</td>
      </tr>
    {% endfor %}
  </th>
  </tbody>
</table>
<br>Exercise Time Details by Steps

<table style="border: solid 1px black;">
    <tr valign="bottom">
      <td align="center" valign="bottom">
        <div style="background:#58FA82;">time (sec.)</div>
        <!--<div style="background:#F781F3;">no. of visits</div>-->
      </td>

      {% for exe_step in exe_steps %}
          <td align="center" valign="bottom">
            <div>{{exe_step.time}}</div>
            <div valign="bottom" style="width: 30; height: {{exe_step.get_time_print}}; background:#58FA82;"/>
          </td>
          <!-- 
          <td align=center valign=bottom>
            <div>{{exe_step.click_num}}</div>
            <div valign=bottom style="width: 25; height: {{exe_step.get_click_num_print}}; background:#F781F3;"/>
          </td>
          -->
      {% endfor %}
    </tr>
    <tr>
      <td align="center" valign="bottom">
        <div style="background:#FA5882;">backward step</div>
        <div style="background:#5882FA;">forward step</div>
      </td>

      {% for exe_step in exe_steps %}
        {% if exe_step.is_backward == 'true' %}
          <td align=center style="width: 30; background: #FA5882;">{{exe_step.step_num}}</td>
        {% else %}
          {% if exe_step.is_backward == 'false' %}
            <td align=center style="width: 30; background: #5882FA;">{{exe_step.step_num}}</td>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
</table>

<br>Exercise Click Details by Steps

<table style="border: solid 1px black;">
    <tr valign="bottom">
      <td align="center" valign=bottom>
        <div style="background:#F781F3;">no. of visits</div>
      </td>
      
      {% for exe_step in exe_steps %}
        <td align="center" valign="bottom">
          <div>{{exe_step.click_num}}</div>
          <div valign="bottom" style="width: 25; height: {{exe_step.get_click_num_print}}; background:#F781F3;"/>
        </td>
      {% endfor %}
    </tr>

    <tr>
      <td align=center valign=bottom>
        <div style="background:#FA5882;">backward step</div>
        <div style="background:#5882FA;">forward step</div>
      </td>

      {% for exe_step in exe_steps %}
        {% if exe_step.is_backward == 'true' %}
          <td align=center style="width: 30; background: #FA5882;">{{exe_step.step_num}}</td>
        {% else %}
          {% if exe_step.is_backward == 'false' %}
            <td align=center style="width: 30; background: #5882FA;">{{exe_step.step_num}}</td>
          {% endif %}
        {% endif %}
      {% endfor %}
    </tr>
</table>

<br>Exercise Step Line Graph
<script class="code" type="text/javascript">
$(document).ready(function(){
  var data = [];
  
  {% for line in lines %}
    data.push({{line}});
  {% endfor %}

  var plot1 = $.jqplot ('chart1', data);
});
</script>
<div id="chart1" style="height:300px; width:500px;"></div>
<div class="code prettyprint">
  <pre class="code prettyprint brush: js"></pre>
</div>


{% for line in lines %}
  {% for point in line %}
  {{point}}&nbsp
  {% endfor %}
  <br>
{% endfor %}

</body>
</html>