<html>
<head>
  <title>Slideshow Cheating Analysis</title>
  <script>
    <!-- /* HTML comments prevent tags in the JS file comments from ending the script block */
    {% include "./developer_view/dist/jquery.min.js" %}
    
    // Calculate the percentage cheated versus completed for each exercise
    $(document).ready(function () {
      $('.exer-name').each(function (index, item) {
        var name = $(item).html();
        
        var numCheated = parseInt($('#' + name + '_cheated').html(), 10);
        var numCompleted = parseInt($('#' + name + '_completed').html(), 10);
        
        var percent = numCheated / numCompleted * 100;
        
        // Update the percent column in the table
        $('#' + name + '_percent').html(percent + '%');
        
        // Tweak the color coding
        if ($('#' + name + '_cfp').data('cfp') && percent < 100) {
          console.log(name + ': orange');
          // User cheated the first time, but eventually completed the slideshow
          $('#' + name + '_cfp').css('background-color', 'orange');
        } else if (!$('#' + name + '_cfp').data('cfp') && percent > 0) {
          console.log(name + ': yellow');
          // User completed the slideshow the first time, but cheated on a subsequent attempt
          $('#' + name + '_cfp').css('background-color', 'yellow');
        }
      });
    });
    -->
  </script>
</head>

<body>
<p>
  <b>Instructions</b>: The following slideshows are ordered by the time completed.  'Cheating' is defined as obtaining proficiency for a slideshow without viewing all the steps.
  <br /><br />
   
  Green indicates the user completed the slideshow without ever cheating, yellow indicates the user completed the slideshow the first time (for credit) without cheating but cheated on a subsequent attempt (not considered cheating, but interesting to know if they figured out how to skip).  Orange indicates the user cheated to obtain credit but eventually completed the slideshow without cheating.  Red indicates the user cheated on every completion of a slideshow.
</p>

<table style="border: solid 1px black;" class="sortable">
  <thead>
    <tr>
      <th style="border: solid 1px black;">Exercise Name</th>
      <th style="border: solid 1px black;">Times Cheated</th>
      <th style="border: solid 1px black;">Times Completed</th>
      <th style="border: solid 1px black;">Percent Cheated</th>
      <th style="border: solid 1px black;">Cheated for Proficiency</th>
    </tr>
  </thead>
  <tbody>
    {% for exer_name, counts in exer_data.items %}
      <tr >
        <td style="border: solid 1px black;" class="exer-name">{{ exer_name }}</td>
        
        {% for column_name, count in counts.items %}
          <td style="border: solid 1px black;" id="{{ exer_name }}_{{ column_name }}">{{ count }}</td>
        {% endfor %}
        
        <td style="border: solid 1px black;" id="{{ exer_name }}_percent"></td>
        
        {% if exer_name in cheated_for_prof %}
          <td id="{{ exer_name }}_cfp" data-cfp="true" style="background-color: red"></td>
        {% else %}
          <td id="{{ exer_name }}_cfp" style="background-color: green"></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
</body>
</html>