#tooltip{
      opacity: 0.8;

}
h3 {
        font-size: 1.0em;
        font-weight: bold;
        line-height: 1.6em;
        color: #000000;
        clear: both;
}

/* th {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);  
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
*/

